.fitems{
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: rgb(20, 224, 207);
    color: rgb(4, 26, 45);
    font-size: 20px;
    border-radius: 10px;
    border-color: black;
    border-width: 10px;
    border-style: double;
}
.fcontainer{
    display: flex;
    flex-direction: row;
    background-color: rgb(156, 255, 7);
    justify-content: center;
}
.item2{
    order: 2;
}
